@tailwind base;
@tailwind components;
@tailwind utilities;

.us-container {
  background-image: url("/us.png");
  background-repeat: "no-repeat";
  background-size: "cover";
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2rem; /* equivalent to gap-4 in Tailwind */
  margin-top: 2.5rem; /* equivalent to mt-10 in Tailwind */
  margin: 0 290px;
  margin-top: 50px;
}
.mobile-text {
  display: none;
}
@media (max-width: 1300px) {
  .right-sizde-home {
    display: none;
  }
  .left-side-home {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.cards-our-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  gap: 1rem; /* equivalent to gap-4 in Tailwind */
  justify-content: center;
  align-items: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 991px) {
  .header-lap {
    display: none;
  }
  .header-mobile {
    display: flex;
  }

  .hero-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
  }
  .hero-text:first-child {
    text-align: center;
  }
  .img-hero-first {
    display: none;
  }
  .images-container {
    display: nones;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 2rem; /* equivalent to gap-4 in Tailwind */
    margin-top: 0.5rem; /* equivalent to mt-10 in Tailwind */
    margin: 10px 20px;
    margin-top: 50px;
  }
  .content-container-hero {
    height: auto;
    margin-bottom: 50px;
  }
  .why-us {
    flex-direction: column;
    .left-why {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right-why {
      width: 100%;
    }
  }
  .card-why {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 8px;
    padding: 20px;
    border-radius: 10px;
    p {
      text-align: center;
    }
  }
  .why-us-p {
    margin: 10px 50px;
    text-align: center;
  }
  .why-us-title {
    color: #feb021;
  }
  .button-start {
    display: none;
  }
  .content-accomplishments-container {
    display: none;
  }
  .why-our-company-head {
    background: #e8f1fb;
    width: 60%;
  }
  .why-our-company-container {
    flex-direction: column;
    gap: 0;
    .content {
      gap: 40px;
      width: 90%;
      margin: 0 auto;
      padding: 0 50px;
      box-shadow: rgba(250, 152, 152, 0.3) 0px 1px 2px 0px,
        rgba(218, 151, 64, 0.15) 0px 2px 6px 2px;
      padding: 30px;
      border-radius: 10px;
      .content-slice {
        gap: 14px;
        max-width: 100%;
      }
    }
  }
  .car-image-our-company {
    position: relative;
  }
  .vectore-img {
    top: 0;
    position: relative;
    width: 60%;
    height: 100%;
  }

  .parent-why-company {
    height: auto;
  }

  .images-containerWhyUs {
    width: max-content;
    display: flex;
  }
  .vectore-img-car {
    position: absolute;
    height: 100%;
  }
  .vectore-img-can {
    display: none;
  }
  .mobile-text {
    display: block;
    margin: 0 50px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 40px;
  }
  .header-whyus {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hide-on-mobile {
    display: none;
  }
  .right-whuus {
    width: 100%;
  }
  .vectore-img2 {
    margin-left: 60px;
    height: 10%;
  }
  .icon-div {
    width: 80px;
    height: 56px;
    border-radius: 20px;
    background: #ecf5ff;
  }
  .contet-div {
    width: 400px;
    gap: 2px;
  }
  .ourProductsContainer {
    padding: 10px 20px;
    .ourProductsHeader {
      align-items: center;
    }
    .muntacatna {
      font-size: 40px;
    }
  }
  .product-card {
    width: 100%;
  }
  .ourservices-mobil-sub-text {
    width: 80%;
    text-align: center;
    margin: 20 auto;
  }
  .customer-said-contianer {
    margin: 150px 50px;
  }
  .content-footer {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    height: max-content;
    padding-bottom: 100px;
  }
  .slice {
    justify-content: center;
    align-items: center;
    display: flex;
    p {
      font-weight: bold;
    }
  }

  .service-container {
    height: auto;
  }
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .left-serv,
  .right-serv {
    width: 100%;
    padding: 50px;

    p {
      text-align: center;
    }
  }
  .service-goodness-container {
    margin: 0;
    margin-left: auto;
    margin-top: 140px;
    width: 90%;
  }
  .oil-double {
    width: 70%;
    margin-top: 0;
  }
  .oilTek {
    position: relative;
  }
  .stemp {
    position: relative;
  }
  .bottom-images {
    display: none;
  }
  .images-top {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }
  .Bitmap {
    width: 70%;
    right: 0;
    position: relative;
  }
  .left-service {
    width: 100%;
  }
  .serv-text {
    width: 100%;
  }
  .FAQ {
    border-radius: 50px;
    margin: 0 20px;
    .content {
      margin: 40px;
    }
  }
  .faq-herader {
    gap: 4px;
    :last-child {
      margin-top: 10px;
    }
  }
  .for-lab {
    display: none;
  }
  .show-mobile-serv {
    display: block;
    p {
      font-size: x-large;
      font-weight: bold;
    }
  }
  .buttons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      width: 90%;
    }
  }
  .text-right-products {
    text-align: center;
  }

  .us-container {
    position: relative;
    background-image: none;
  }
  .show-mobile-image {
    display: block;
    position: absolute;
    top: 0;
  }
  .us-content-container {
    margin: 0;
    padding: 10px;
    margin-top: 160px;
    p {
      font-size: large;
      text-align: center;
      margin: 0;
    }
  }
  .us-buttons {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    div {
      width: 70%;
    }
  }
  .us-content-container-section-2 {
    margin-top: 50px;
    margin: 0 50px;
  }
  .how-us-title-div {
    margin-left: 0;
    padding: 5px 50px;
    margin-left: 50px;
  }
  .content-us {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }
  .content-us2 {
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
  }
  .oil {
    position: absolute;
    bottom: 10px;
    max-width: max-content;
    width: 500px;
    left: -70;
  }
  .pattern {
    z-index: 1000;
    top: -150;
  }
  .right-us {
    min-width: 100%;
    box-shadow: rgba(250, 152, 152, 0.3) 0px 1px 2px 0px,
      rgba(218, 151, 64, 0.15) 0px 2px 6px 2px;
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 40px;
  }
  .right-us-desk {
    display: none;
  }
  .onlyOnMobile {
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }
  .explain-txt {
    width: 100%;
    text-align: center;
  }
  .btm-cards {
    width: 100%;
    .card {
      width: 90%;
    }
  }
  .s3-container {
    margin: 0;
  }
  .byImage {
    max-width: none;
  }
  .headers3 {
    text-align: center;
    font-size: 20px;
  }
  .descs3 {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }
  .rows-us {
    display: flex;
    flex-direction: column;
    .row1,
    .row2 {
      gap: 50px;
      flex-direction: column;
      align-items: center;
      div {
        height: 83px;
        width: 200px;
        box-shadow: rgba(250, 152, 152, 0.3) 0px 1px 2px 0px,
          rgba(218, 151, 64, 0.15) 0px 2px 6px 2px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }
  }
  .b-content {
    gap: 10px;
  }
  .mobile-btn {
    width: 145px;
    align-items: center;
    justify-content: center;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containers4 {
    display: block;
    margin-top: 50px;

    .left {
      width: 100%;
      padding: 20px;
    }
    .pattern {
      display: none;
    }
  }
  .progress-value {
    font-size: 20px;
    top: 70px;
    left: 50;
  }
  .progress-text {
    font-size: 18px;
    margin-top: 0;
  }
  .box {
    position: relative;
    left: 0;
    top: 300px;
  }
  .left-lets-talk {
    display: flex;
    flex-direction: column;
  }

  .contactPeople {
    width: 100%;
  }
  .left-container {
    margin: 50px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
  }
  .right-lets-talk {
    justify-content: center;
    align-items: center;
    box-shadow: rgba(250, 152, 152, 0.3) 0px 1px 2px 0px,
      rgba(218, 151, 64, 0.15) 0px 2px 6px 2px;
    padding: 30px;
    border-radius: 30px;
    p {
      text-align: center;
      font-size: 17px;
    }
    .header-txt-lets-talk {
      font-size: 30px;
    }
    .contact-item {
      gap: 5px;
    }
  }
  .container-form {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .right-easialy {
    align-items: center;
  }
  .productsContainer {
    margin: 0;
  }
  .burger-content {
    display: flex;
  }
  .branchs-container {
    display: flex;
    background: white;
    .right {
      display: none;
    }
    .left {
      width: 100%;
      .hero-content-container {
        margin: 10px;
        p {
          font-size: 35px;
          text-align: center;
        }
      }
    }
  }
  .botton-container {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}
